.cta-holder {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    z-index: 2;
}

.hp-cta {
    margin-top: 30px;
}

.ip-banner {
    position: relative;
    width: 100%;
}

.ip-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.7+0,0+85 */
    /* background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%); */
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000', GradientType=0); */
    /* IE6-9 */
}

.ip-banner canvas {
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 228px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ip-page-title {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    text-align: center;
    padding: 0 50px;
}

.ip-page-title .global-title {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-bottom: 0;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ip-banner h1 {
    font: normal normal 600 89px/133px Poppins;
}

.ip-banner h3 {
    font: normal normal 600 29px/43px Poppins;
}


.ip-main-container {
    background: #021823 0% 0.5 no-repeat;
    border-radius: 34px;
    opacity: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 50px 15px;
    margin-top: -30px;
}

.ip-option-holder {
    display: flex;
    flex-wrap: wrap;
}

.ip-option-item {
    width: 50%;
    padding: 10px;
}

.option-label {
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 2;
    max-width: 42%;
}

.option-label span {
    display: inline-block;
    font: normal normal normal 22px/33px Poppins;
    text-transform: uppercase;
    padding: 5px 5px 3px 5px;
    letter-spacing: 0.1em;
    color: #fff;
}

.ip-option-item:nth-child(even) .option-label {
    left: unset;
    right: 60px;
}

.ip-option-item .ip-option-details {
    position: absolute;
    width: 66%;
    bottom: 0;
    left: 0;
    padding: 0 0 22px 24px;
    z-index: 2;
    color: #FFFFFF
}

.ip-option-item:nth-child(even) .ip-option-details {
    left: unset;
    right: 0;
    padding: 0 24px 22px 0;
}

.ip-option-inner {
    display: block;
    position: relative;
    overflow: hidden;
}

.ip-option-inner .option-top-details {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    align-items: center;
}

.ip-option-item:nth-child(even) .ip-option-inner .option-top-details {
    flex-direction: row-reverse;
}
.ip-option-item:nth-child(even)  .ip-option-inner .option-top-details .option-title {
    padding-left: 0;
}

.ip-option-inner .option-top-details .option-title {
    padding-left: 20px;
    line-height: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.ip-option-inner .option-description {
    padding-top: 10px;
    font-size: 12px;
    line-height: 18px;
}

.ip-option-inner .option-description p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

/*******************************************************
 *
 * Mobile styles and other media queries
 *
 *******************************************************/

@media only screen and (max-width: 1600px) {
    .global-title h1 {
        font-size: 80px;
        line-height: 90px;
    }
    .ip-option-inner .option-top-details {
        font-size: 16px;
    }

    .ip-option-item .ip-option-details {
        width: 68%;
    }
}
 
/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */ 

@media only screen and (max-width: 1366px) {
    .global-title h1 {
        font-size: 80px;
        line-height: 90px;
    }
} 

@media only screen and (max-width: 1199px) {
    .ip-banner canvas {
        background-size: cover;
    }
    
    .global-title h1 {
        font-size: 60px;
        line-height: 70px;
    }

    .ip-option-item {
        width: 100%;
    }

    .ip-option-item .ip-option-details {
        width: 66%;
    }
} 

/* iPad(portrait) | Galaxy Tab 4(portrait)  */ 
@media only screen and (max-width: 991px) {

    .global-title h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .ip-banner h3 {
        font-size: 19px;
    }

    .ip-main-container {
        margin-top: -80px;
    }
} 

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */ 
@media only screen and (max-width: 767px) {

    .ip-option-inner .option-description {
        display: none;
    }

    .ip-option-inner .option-top-details .option-title {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        -webkit-box-orient: vertical;
    }
}

@media only screen and (max-width: 685px) {
    .option-label{
        left: 50px;
        top: 0;
    }
    .option-label span {
        font-size: 15px;
        line-height: 22px;
    }
    .ip-option-item:nth-child(even) .option-label {
        left: unset;
        right: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .ip-main-container {
        padding: 50px 0;
    }

    .ip-option-inner .option-top-details {
        font-size: 14px;
    }

    .ip-option-item .ip-option-details {
        padding: 0 0 10px 7px;
    }

    .ip-option-item:nth-child(even) .ip-option-details {
        padding: 0 7px 10px 0;
    }

    .ip-option-inner .option-top-details .option-title {
        padding-left: 10px;
    }

    .option-label{
        left: 30px;
        top: 0;
    }
    .option-label span {
        font-size: 15px;
        line-height: 12px;
    }
    .ip-option-item:nth-child(even) .option-label {
        left: unset;
        right: 30px;
    }
}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */ 
@media only screen and (max-width: 480px) {
    .global-title h1 {
        font-size: 35px;
    }
}